@import url(https://fonts.googleapis.com/css?family=Quicksand);
body,
.center-title p {
    font-family: 'Quicksand', "Arimo", sans-serif;
    color:#555555;
}

.ochargex {
	margin-top:120px;
}

.no-padding {
	padding-left:0!important;
	padding-right:0!important;
}

.redone {
	margin-left:-30px;
}

.navbar-fixed-top.sticky .redone{
	display:none;
}

.navbar-fixed-top .whiteone{
	display:none;
}

.navbar-fixed-top.sticky .whiteone{
	display:block;
}

#undefined-sticky-wrapper .redone{
	display:none!important;
}

#undefined-sticky-wrapper .whiteone{
	display:block!important;
}

.btn-sky-blue,
.btn-sky-blue:hover {
	background-color: #59a6ff;
	border-radius:20px;
}

.btn-pinkish,
.btn-pinkish:hover {
	background-color: #ff5252;
	border-radius:15px;
}

.btn-grey,
.btn-grey:hover {
	background-color: #888;
	border-radius:15px;
}

.input-rounded {
	border-radius: 15px;
}

.ocharge-features {
	padding:20px;
	border-radius:20px;
	margin-bottom:30px;
	cursor:pointer;
}

.ocharge-features.active {
	background-color: #ffe0e0;
}

.ocharge-features .aside-feature-row p {
    font-size: 17px;
}

h2.otitle,
.ocharge-features h3 {
	color:#ff6b64;
  text-transform: none;
}

.toggla {
	background-color:#e1bee7;
	padding:5px 10px;
	border-radius:20px;
	color:#fff;
}

.toggla i {
	cursor:pointer;
}

.biggerfontp {
	font-size: 24px!important;
    line-height: 40px!important;
}

.biggerfontp strong{
  font-size: 30px;
  font-weight: 800;
  color: black;
}
.kiasifontp {
	font-size: 20px!important;
    line-height: 30px!important;
}

@media (min-width: 992px) {
	.header-v1 .navbar-brand {
	    position: static;
		margin-left: 0!important;
	}
}

@media (max-width: 768px) {
	.header-v1 img {
	    max-width:120px;
	}
	.header-v1 img.gplay {
	    max-width:120px;
	}
	.container>.navbar-header {
	    height: 75px!important;
	    overflow: hidden;
	}
}

@media (max-width: 450px) {
	.header-v1 img {
	    max-width:100px;
	}
	.header-v1 img.gplay {
	    max-width:90px;
	}
}

@media (max-width: 299px) {
	.header-v1 img {
	    max-width:60%;
	}
	.header-v1 img.gplay {
	    max-width:0;
	}

	.header-v1 .navbar-toggle {
	    display:none;
	}
}

.footer {
    color: #333;
    background-color: #fff;
    padding-top:0px;
}

.footer p {
    color: #333;
}

.footer h2 {
    color: #333;
    margin-bottom: 25px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 24px;
}

.footer .collapsible h2 {
	font-size:20px;
	margin-bottom:0px;
}

.footer h2.one {
	color:#ff52bf;
}

.footer h2.two {
	color:#a33eff;
}

.footer h2.three {
	color:#8ed72b;
}

p.powered {
	color:#a33eff;
	font-size:18px;

}

.footer a {
	color: #666;
    font-size: 20px;
}

.collapsible li {
	margin-left:40px;
}

.panel-heading.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family:'Glyphicons Halflings';
    /* essential for enabling glyphicon */
    content:"\002b";
    /* adjust as needed, taken from bootstrap.css */
    float: right;
    position: relative;
    bottom: 23px;
    font-size: 15px;
    /* adjust as needed */
    color:#999;
    /* adjust as needed */
    font-weight:400;
}
.panel-heading.accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content:"\2212";
    /* adjust as needed, taken from bootstrap.css */
}

.panel-heading:hover {
    cursor: pointer;
}

.panel-heading:hover h4 {
    text-decoration: underline;
}

.footer .panel-default>.panel-heading,
.footer .panel-body {
    background-color: #f5f5f5;
    border: none!important;
}

.footer .panel-default {
	margin-bottom:15px;
}

.footer .panel-default {
	position:relative;
}

.footer .panel-heading:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
     top: 0;
     left: 0;
     background: #ff2759;
    background: -moz-linear-gradient(-45deg, #ff2759 0%, #700877 100%, #700877 100%);
     background: -webkit-linear-gradient(-45deg, #ff2759 0%, #700877 100%, #700877 100%);
     background: linear-gradient(135deg, #ff2759 0%, #700877 100%, #700877 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2759', endColorstr='#700877',GradientType=1);
}

#undefined-sticky-wrapper .navbar-static-top {
	height:110px;
	margin-bottom:0px;
	background-color: #fff;
}

#undefined-sticky-wrapper .header-v1 {
    background-color: #fff;
}

body.about #features {
	padding-top:40px;
	padding-bottom:0px;
}

.slightlymorelegible,
.slightlymorelegible p {
	font-size: 18px;
}


/*Scroll to top*/
.cd-top {
 display: inline-block;
 height: 40px;
 width: 40px;
 position: fixed;
 bottom: 40px;
 right: 10px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
 box-shadow: #e74c3c;
 /* image replacement properties */
 overflow: hidden;
 text-indent: 100%;
 white-space: nowrap;
 background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
 visibility: hidden;
 opacity: 0;
 -webkit-transition: opacity .3s 0s, visibility 0s .3s;
 -moz-transition: opacity .3s 0s, visibility 0s .3s;
 transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
 -webkit-transition: opacity .3s 0s, visibility 0s 0s;
 -moz-transition: opacity .3s 0s, visibility 0s 0s;
 transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
 /* the button becomes visible */
 visibility: visible;
 opacity: 1;
}
.cd-top.cd-fade-out {
 /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
 opacity: .5;
}
.no-touch .cd-top:hover {
 background-color: #d35400;
 opacity: 1;
}
@media only screen and (min-width: 768px) {
 .cd-top {
   right: 20px;
   bottom: 20px;
 }
}
@media only screen and (min-width: 1024px) {
 .cd-top {
   height: 60px;
   width: 60px;
   right: 30px;
   bottom: 30px;
 }
}

/**
  * Videos embed
**/
@media (min-width: 600px) {
  .video-embed{
    width: 340px;
  }

}
@media (max-width: 360px) {
  .ocharge-features.active{
    background-color: transparent !important;
  }
  .navbar-brand img{
    width: 170px !important;
  }

}
@media (max-width: 767px){
  .ocharge-features.active{
    background-color: transparent;
  }
}
@media (max-width: 320px) {
  .video-embed{
    width: 240px;
  }
  .ocharge-features.active{
    background-color: transparent !important;
  }
  .whiteone, .redone{
    width: 60% !important;
  }


}

/**
 ** Round Buttons
 **/


#find-out, #send-me{
  text-transform: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

#find-out{
  border-radius: 38px !important;
  box-shadow: 0 4px rgba(0,0,0,0.3);
  margin-bottom: 30px !important;
  white-space: nowrap;
}

p.ocharge-mobile-features1, p.ocharge-mobile-features2, p.ocharge-mobile-features3 {
  font-family: 'Quicksand', sans-serif;
  color: #696969;
}

/**
 ** In the News
 **/

 #news img{
   opacity: 1.2;
 }
#news, .otitle, h3.otitle{
  font-family: 'Quicksand', "Arimo", sans-serif;

}
h2.otitle{
  font-weight: bold !important;
}

#africa {
  font-family: 'Quicksand', "Arimo", sans-serif;
}
/*Features*/
.ocharge-features h3, p{
  font-family: 'Quicksand', "Arimo", sans-serif;
}

.ocharge-features h3{
  font-weight: bold;
}

/*Footer tags*/

.footer h2, ul {
  font-family: 'Quicksand', "Arimo", sans-serif;
}
.footer h2{
  font-weight: bold;
}